body{
    background-image: url('/images/bg.jpeg');   
}

.main {
    text-align: center;
    padding: 100px;
    padding-top: 300px;
    color: white;
    font-style: italic;
    font-weight: bolder;
}
